extends layout_dashboard

block content
	.container
		a(href="/crear-cliente")
			button.btn.btn-primary 
				| Crear Empleado
		h1 Vista de Clientes en la Peluqueria
		table.table
			thead
				tr
					th #
					th Nombre
					th Correo
					th Telefono
					th Editar
					th Borrar
			tbody
				each client,index in result
						tr 
							td #{index+1}
							td #{client.first_name} #{client.last_name}
							td #{client.email}
							td #{client.phone}
							td 
								form(action=`/editar/cliente/${client._id}`)
									input(type="hidden" name="id" value=`${client._id}`)
									button
										i.fa.fa-edit
							td 
								form(action="/borrar-cliente" method="post")
									input(type="hidden" name="id" value=`${client._id}`)
									button
										i.fa.fa-trash


		